/* @font-face {
  font-familyA:'PingFangSC-Regular';
  src: url('../font/PINGFANGREGULAR.TTF');
}
@font-face {
  font-familyA:'PingFangSC-Medium';
  src: url('../font/PINGFANGMEDIUM.TTF');
}
@font-face {
  font-familyA:'OpenSans';
  src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
  font-familyA:'OpenSans-Semibold';
  src: url('../font/OpenSans-Semibold.ttf');
}
@font-face {
  font-familyA:'Roboto-Medium';
  src: url('../font/Roboto-MediumItalic.ttf');
} */
/*------------------------------------ ├ 初始化 ┆ └-----------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 14px; */
  /* font-weight: normal; */
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.main{flex: 1;
  height: calc(100% - 10vh);
  z-index: 10;    overflow-y: scroll;}
strong{font-weight: bold;}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}
input {
  background-color: transparent;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
}
input[type="number"]{-moz-appearance:textfield;}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #666666;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height:100%;
}
body {
  min-height:100%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.grid-content {
  border-radius: 4px;
  min-height: 28px;
}
.vl-notify-mask{
  background-color: #000 !important;
  opacity: .4 !important;
  z-index: 99999; 
  position:fixed;
  top:10%;
  left:50%;
  right:50%;
  padding:10px 15px;
  border-radius:5px;
}
.vl-notify.vl-notify-msg{
  background-color: #000 !important;
  opacity: .6 !important;
  color:#fff;
  z-index: 99999; 
  position:fixed;
  top:30%;
  left:40%;
  white-space: nowrap;
  padding:10px 15px;
  border-radius:5px;

}
/**------------------------主题颜色------------------------------**/
/*----------------------------公共部分---------------------------**/



/*-------------------------- ├ 布局 ┆ ---------------------------*/
.fr {
  float: right;
}
.fl {
  float: left;
}
.alignCenter{
  text-align:center;
}
.alignLeft{
  text-align:left;
}
.alignRight{
  text-align:right;
}
.disMid{
  display:inline-block;
  vertical-align:middle;
}
.disTop{
  display:inline-block;
  vertical-align:top;
}
.disBtm{
  display:inline-block;
  vertical-align:bottom;
}



/*------------------------------------- ├ element ui ┆ └------------------------------------*/
.el-select .el-input.is-focus .el-input__inner,
.el-textarea__inner:focus {
  border-color: #7373F7;
}
.el-button.el-button--default:not(.is-disabled):not(.el-button--primary):focus,
.el-button.el-button--default:not(.is-disabled):not(.el-button--primary):hover {
  background-color: rgba(115,115,247,.1);
  color: #7373F7;
  border-color: #7373F7;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #7373F7;
}
.el-select-dropdown__item.selected {
  color: #7373F7;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #7373F7;
  border-color: #7373F7;
}
.el-button--primary {
  border: 0 none;
}
.el-pagination.is-background .el-pager li.active {
  background-color: #7373F7;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  background:#fff;
  border-radius:4px;
  border:1px solid rgba(233,238,244,1);
  color: #33385E;
}

.el-pagination .btn-next[disabled="disabled"] .el-icon, .el-pagination .btn-prev[disabled="disabled"] .el-icon {
  opacity: 0.4;
}

.el-pagination.is-background .el-pager li:hover{color:#7373F7;}